<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apple.cal4" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="DetailActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity2"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity3"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity4"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity5"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity6"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity7"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity8"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity9"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity10"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity11"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity12"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity13"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity14"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity15"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="DetailActivity16"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="HabitActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum1"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum2"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum3"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum4"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum5"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum6"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum7"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum8"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum9"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum10"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum11"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum12"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum13"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum14"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum15"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum16"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum17"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum18"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum19"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum20"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum21"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum22"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum23"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum24"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum25"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum26"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum27"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum28"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum29"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum30"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum31"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name="Sum32"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".RegisActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
    </application>

</manifest>
